# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Build output
/dist
/build

# Environment variables
.env

# Cache and lock files
/.cache
/yarn.lock
package-lock.json

# IDE-specific files
.idea/
.vscode/
.DS_Store
